/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #4caf50, #044ee3);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 450px;
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.form-header {
  font-size: 1.8rem;
  font-weight: bold;
  color: #044ee3;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  font-size: 0.9rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}
input, select, textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f9f9f9;
  transition: border-color 0.3s;
  cursor: pointer;
}
input:focus, select:focus, textarea:focus {
  outline: none;
  border-color: #044ee3;
}

textarea {
  resize: none;
}

button {
  width: 70%;
  padding: 12px;
  background: #044ee3;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  border-radius: 50px;
}

button:hover {
  background: #0049D0;
}

.confirmation {
  margin-top: 20px;
  font-size: 1rem;
  color: #4caf50;
  font-weight: bold;
}

@media (max-width: 500px) {
  .container {
    padding: 15px;
  }

  .form-header {
    font-size: 1.5rem;
  }

  button {
    font-size: 1rem;
  }
}

.suggestions-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    background-color: #fff;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    z-index: 1000;
    width: calc(91%);
    display: none;
}

.suggestions-list li {
    padding: 10px;
    cursor: pointer;
}

.suggestions-list li:hover {
    background-color: #f0f0f0;
}
